name: Deploy Static Website to Azure App Service - pokew1977

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D583B9405F31459C9BCF57908F6060B0 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_BB852E7455A24324885C0F0F80974EAD }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F2DB50DC51064B439A6FA0A4E4400A25 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: pokew1977
          slot-name: Production
          package: .
